/*
	GENERAL UTILITY
*/

.left
{
	float: left;
	margin-left: 10px;
}

.right
{
	float: right;
	margin-right: 10px;
}

.noMargin
{
	margin: 0px;
}

.central
{
	display: block;
	margin: auto;
}

.form
{
	margin-top: 50px;
	height: 105px;
	width: 500px;
	border: 1px solid black;
}

.inputDiv
{
	height: 105px;
	margin-left: 0px;
	margin-right: 10px;
	width: 385px;
}

.input
{
	margin-top: 10px;
	width: 380px;
}

.link
{
	text-decoration: none;
}

.centralFAIcon
{
	display: block;
	text-align: center;
}

.button
{
	
}

/*
	INDEX.PHP -> Log In page with lost password link
*/

.logInImage
{
	height: 85px;
	width: 85px;
	margin: 10px;
	font-size: 105px;
}

.logInImage li
{
	margin-top: -5px;
}

.logInDiv
{
	margin-top: 10px;
	margin-bottom: 10px;
}


/*
	HOME.PHP -> Master-Detail page with ajax for content
*/


/*
img
{
opacity:0.4;
filter:alpha(opacity=40); /* For IE8 and earlier 
}
img:hover
{
opacity:1.0;
filter:alpha(opacity=100); /* For IE8 and earlier 
}
*/

.homeWrapperDiv
{	
	position:fixed;
	height:15%;
	width: 100%;
	background-color: white;
	-webkit-filter: blur(10px);
	opacity:1.5;
	filter: blur(10px);
	}
	/*
.homeWrapperDiv:hover
{
	opacity:1.0;
	height:15%;
	width: 100%;	
}
*/

.masterDiv
{
	width: 100%;
	background-color: grey;
	/*float: left;*/
}

/*
.detailDiv
{
	width: auto;
	background-color: blue;
	height: 95%;
	overflow-y: scroll;
}
*/
.contentDiv
{
	height: auto;
}