/*
	GENERAL UTILITY
*/

.left
{
	float: left;
	margin-left: 10px;
}

.right
{
	float: right;
	margin-right: 10px;
}

.noMargin
{
	margin: 0px;
}

.central
{
	display: block;
	margin: auto;
}

.form
{
	margin-top: 50px;
	height: 105px;
	width: 500px;
	border: 1px solid black;
}

.inputDiv
{
	height: 105px;
	margin-left: 0px;
	margin-right: 10px;
	width: 385px;
}

.input
{
	margin-top: 10px;
	width: 380px;
}

.link
{
	text-decoration: none;
}

.centralFAIcon
{
	display: block;
	text-align: center;
}

.button
{
	
}

/*
	INDEX.PHP -> Log In page with lost password link
*/

.logInImage
{
	height: 85px;
	width: 85px;
	margin: 10px;
	font-size: 105px;
}

.logInImage li
{
	margin-top: -5px;
}

.logInDiv
{
	margin-top: 10px;
	margin-bottom: 10px;
}


/*
	HOME.PHP -> Master-Detail page with ajax for content
*/

.homeWrapperDiv
{
	height: 5%;
	width: 100%;
	background-color: green;
}

.masterDiv
{
	width: 300px;
	background-color: red;
	height: 95%;
	float: left;
}

.detailDiv
{
	width: auto;
	background-color: blue;
	height: 95%;
	overflow-y: scroll;
}

.contentDiv
{
	height: auto;
}